---
const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";
import Navbarbottom from "../components/Navbar.svelte";


const description = "Kerala Startup Mission is the central agency of the Government of Kerala for entrepreneurship development and incubation activities in Kerala, India.";
const url = "https://startupmission.kerala.gov.in/";

---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSUM | GrowthX: Incubation Program</title>

    <!-- favicon icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">

    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- plugin styles -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/seolight-icons.css">
    <!-- template style -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
	<slot />



    <script src="assets/js/jquery-3.5.0.min.js" is:inline></script>
    <script src="assets/js/bootstrap.bundle.min.js" is:inline></script>
    <script src="assets/js/bootstrap-datepicker.min.js" is:inline></script>
    <script src="assets/js/bootstrap-select.min.js" is:inline></script>
    <script src="assets/js/isotope.js" is:inline></script>
    <script src="assets/js/jquery.ajaxchimp.min.js" is:inline></script>
    <script src="assets/js/jquery.waypoints.min.js" is:inline></script>
    <script src="assets/js/jquery.counterup.min.js" is:inline></script>
    <script src="assets/js/jquery.magnific-popup.min.js" is:inline></script>
    <script src="assets/js/jquery.validate.min.js" is:inline></script>
    <script src="assets/js/owl.carousel.min.js" is:inline></script>
    <script src="assets/js/TweenMax.min.js" is:inline></script>
    <script src="assets/js/wow.js" is:inline></script>
    <script src="assets/js/theme.js" is:inline></script>
</body>

</html>